body {
    font-family: Arial, sans-serif;
}

#loginModal .modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: white;
    border-radius: 2%;
}
.header {
    background-color: #f8f9fa;
    padding: 15px 0;
    border-bottom: 1px solid #dee2e6;
    position: relative;
}

.header h1 {
    color: #5a8f63;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
}

.header .login-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}

.hero {
    position: relative;
    padding: 30px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url('http://www.dailymedipharm.com/news/photo/202306/66237_37552_2447.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.hero-text {
    position: relative;
    padding: 100px;
}

.hero-text h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.hero-text .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #5a8f63;
    border: none;
    color: white;
}

.recommendation-section, .exercise-category {
    padding: 40px 15px;
}

.recommendation-section h3, .exercise-category h4 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #333;
}

.card {
    border: none;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.card-img-top {
    border-radius: 0;
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 10px;
}

.badge-success {
    background-color: #5a8f63;
}

.badge-secondary {
    background-color: #6c757d;
}

.card-container {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

.card-item {
    flex: 0 0 33.33%; /* Show 3 cards at a time (33.33% width for each) */
    max-width: 33.33%;
    box-sizing: border-box;
}

.exercise-category {
    background-color: #f8f9fa;
    padding: 40px 15px;
}

.exercise-category h4 {
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #333;
}

.exercise-category .btn-group {
    margin-bottom: 30px; /* 버튼 그룹 아래에 여백 추가 */
}

.exercise-category .btn-group .btn {
    font-size: 1rem;
    padding: 10px 20px;
    margin-right: 10px;
}
